<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

<bean id = "changeLetter" class="cn.codehero.spring.beans.inter.UpperLetter">
    <property name="str" value="abcdef"></property>
</bean>

<!--  
<bean id = "changeLetter" class="cn.codehero.spring.beans.inter.LowerLetter”>
    <property name="str" value="ABCDEF"></property>
</bean>
-->


</beans>
